{% extends "layout.html" %}

{% block title %}
    Bought
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
        <tbody>
                <tr>
                    <td>{{symbols}}</td>
                    <td>{{names}}</td>
                    <td>{{shares}}</td>
                    <td>{{prices}}</td>
                    <td>{{total}}</td>
                </tr>
                <tr>
                    <td colspan="4">CASH</td>
                    <td>{{remainder}}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}

